.slider{
    height:12em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border: 1px solid gray;
}
.content-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
    padding: 0.8em 0.1em;
    font-size: 1em;
    font-weight: 500;
    opacity: 0.7;
    border-bottom: 0.001em solid gray;
}

.content{
    background: #ffffff;
}