.categoryStyle{
    padding: 1em;
}

.categoryStyle h2{
    margin-left: 1em;
}

a{
    text-decoration: none;
}

.list-item{
    background-color: #fff;
    margin: 0.5em auto;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    box-shadow: -1px 3px 9px -3px rgba(0, 0, 0, 0.35);
}

.category-title{
    font-weight: 600;
}

.category-subtitle{
    font-weight: 300;
    font-weight: 300;
    color: gray;
    font-size: 0.8em;
}

.description{
    margin-left: 1em;
    flex:9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    width: 5em;
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
}

.badge{
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 3px;
    width: 2.3em;
    text-align: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title{
    font-weight: 600;
    font-size: 1.5em;
    margin-left: 0.5em;
}

.checkout-button{
    font-size: 1em;
    height: 2em;
    background-color: aquamarine;
    width: 5em;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    /* color: #fff; */
    align-items: center;
    box-shadow: -1px 3px 9px -3px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}