.category{
    /* border: 1px solid gray; */
    margin: 1em;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
}

.item{
    width: 8.5em;
    height: 9em;
    /* flex: 1; */
    text-align: center;
    margin: 1em;
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}